<html ng-app="hollaback">
<head>
<link rel="stylesheet" type="text/css" href="css/index.css" />
<title>Hollaback Rap Analysis</title>
<script src="lib/vexflow-min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/jquery.js"></script>
<script src="lib/tabdiv-min.js"></script>
<script type="text/javascript" src="lib/angular.min.js"></script>
</head>
<body>

<script type="text/javascript" src="coffee/hollaback.js"></script>

<div ng-controller="HollabackCtrl">
  <p>
  BPM: {{bpm}}<br />
  Sample Rate: {{sampleRate}}<br />
  <input type="button" ng-click="TapBpm()" value="Tap" />
  <input type="button" ng-click="ResetBpm()" value="Reset" />
  </p>

  <p>
  <input type="button" ng-click="TapRhythm()" value="Record" />
  Bar: {{curBar}}
  <div style="float:left;width:600;">
    <canvas id="engraving"></canvas>
    <div id="error"></div>
  </div>
  </p>
</div>


</body>
</html>
